In [11]:
import pandas as pd
df = pd.DataFrame({
    'a':[20, 34, 45, 90,52],
    'b':[43,5,21,90,89],
})
df

    a   b
0  20  43
1  34   5
2  45  21
3  90  90
4  52  89

In [12]:
import numpy as np

def avgd(col):
    return np.mean(col)
df.apply(avgd)

a    48.2
b    49.6
dtype: float64

In [16]:
@np.vectorize
def asum(x,y):
    if x == 45:
        return (np.NaN)
    else:
        return (x+y)/2
asum(df['a'],df['b'])

array([31.5, 19.5,  nan, 90. , 70.5])